accelerate
aiohttp
datasets
dion @ git+https://github.com/microsoft/dion.git
einops
grpcio>=1.74.0
huggingface_hub>=1.0.0
jsonlines
nemo-automodel @ git+https://github.com/NVIDIA-NeMo/Automodel.git@66c72a99c6a21bda5ea50dc56d7d1410528b19ef
optree>=0.15.0
packaging
peft
pylatexenc
pynvml>=12.0.0
ray[default]==2.55.0
sympy
tensorboard
torch
torchdata
torchmetrics
tqdm
transformers
vllm
vllm-router>=0.1.14
wandb
wheel
